<div class="panel panel-default">
  <div class="panel-heading"><h4>Past payments </h4></div>
  <%= render partial: "payments/payment", locals: {pp:@payments} %>s
</div>


<!--<%= link_to 'Add new payments', new_payment_path, class: "btn btn-primary" %>-->
